.form {
    width: auto;
}

.formFieldSet {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 50px 10px;
    border: 2px solid #653551;
    border-radius: 15px;
    margin-top: 25px;
}

.legend{
    color: #653551;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

.btn {
    background: transparent;
    border: 2px solid #653551;
    color: #653551;
    padding: 5px 40px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.btnDisabled {
    border: 2px solid #65355140;
    color: #65355140;
    cursor: not-allowed;
    padding: 5px 40px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.btn:hover {
    transform: scale(1.05);
    color: #fff;
    background-color: #653551;
    box-shadow: 0 0 7px #777777;
    cursor: pointer;
}