.descriptionContainer {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    text-align: center;
    justify-content: center;
    text-align: center;
}

.h4 {
    color: #653551;
}
